<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inventory.mapper.GiCategoryMapper">
    
    <resultMap type="GiCategory" id="GiCategoryResult">
        <id     property="categoryId"   column="category_id"   />
        <result property="parentId"     column="parent_id"     />
        <result property="categoryName" column="category_name" />
        <result property="sort"         column="sort"          />
        <result property="kindCode"     column="kind_code"     />
        <result property="status"       column="status"        />
        <result property="delFlag"      column="del_flag"      />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
        <result property="updateBy"     column="update_by"     />
        <result property="updateTime"   column="update_time"   />
        <result property="remark"       column="remark"        />
    </resultMap>

    <sql id="selectGiCategoryVo">
        select category_id, parent_id, category_name, sort, kind_code, status, del_flag, create_by, create_time, update_by, update_time, remark
        from gi_category
    </sql>

    <select id="selectGiCategoryList" parameterType="GiCategory" resultMap="GiCategoryResult">
        <include refid="selectGiCategoryVo"/>
        <where>
            del_flag = '0'
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="categoryName != null and categoryName != ''">
                AND category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by parent_id, sort
    </select>

    <select id="selectGiCategoryById" parameterType="Long" resultMap="GiCategoryResult">
        <include refid="selectGiCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <select id="checkCategoryNameUnique" resultMap="GiCategoryResult">
        <include refid="selectGiCategoryVo"/>
        where category_name = #{categoryName} and parent_id = #{parentId} and del_flag = '0' limit 1
    </select>

    <insert id="insertGiCategory" parameterType="GiCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into gi_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="sort != null">sort,</if>
            <if test="kindCode != null and kindCode != ''">kind_code,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="kindCode != null and kindCode != ''">#{kindCode},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateGiCategory" parameterType="GiCategory">
        update gi_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="kindCode != null and kindCode != ''">kind_code = #{kindCode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteGiCategoryById" parameterType="Long">
        update gi_category set del_flag = '1' where category_id = #{categoryId}
    </delete>

    <delete id="deleteGiCategoryByIds" parameterType="String">
        update gi_category set del_flag = '1' where category_id in
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>
